.cart {
  &__block {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__image {
    width: 200px;
    border-radius: 5px;
  }
}
